
  <form [formGroup]="calcBufferForm">
    <hr>
    <table class="calc-buffer-not-full-with"  cellspacing="0"><tr>
      <td><mat-form-field class="calc-buffer-full-width">
        <mat-label>Точка</mat-label>
        <mat-select [formControl]="stockLocations" multiple>
          <mat-select-trigger>
            {{doSLToString(stockLocations)||''}}
            <span *ngIf="(stockLocations.value?.length || 0) > 1" class="calc-buffer-full-width">
        (+{{(stockLocations.value?.length || 0) - 1}} {{stockLocations.value?.length === 2 ? 'другая' : 'другие'}})
      </span>
          </mat-select-trigger>
          <mat-option *ngFor="let stockLocation of stockLocationsList" [value]="stockLocation">{{stockLocation.stockLocationDescription}}</mat-option>
        </mat-select>
      </mat-form-field>
      </td>
      <td></td><td></td>
      <td><mat-form-field class="calc-buffer-full-width">
        <mat-label>Политики</mat-label>
        <mat-select [formControl]="ctxt2s" multiple>
          <mat-select-trigger>
            {{doCtxt2ToString(ctxt2s)}}
            <span *ngIf="(ctxt2s.value?.length || 0) > 1" class="calc-buffer-full-width">
        (+{{(ctxt2s.value?.length || 0) - 1}} {{ctxt2s.value?.length === 2 ? 'другая' : 'другие'}})
      </span>
          </mat-select-trigger>
          <mat-option *ngFor="let ctxt2 of ctxt2sList" [value]="ctxt2">{{ctxt2.policy}}</mat-option>
        </mat-select>
      </mat-form-field></td>
    </tr>
    </table>
    <table class="calc-buffer-full-width" cellspacing="0">
      <tr>
        <td><mat-form-field class="calc-buffer-full-width">
          <mat-label>RT</mat-label>
          <input matInput placeholder="RT" formControlName = "RT" value="0">
          <div *ngIf="calcBufferForm.controls['RT'].errors?.['pattern']"
               style =  "color: darkred"
          >
            {{allowOnlyInteger}}</div>
        </mat-form-field>
        </td>
        <td><mat-form-field class="calc-buffer-full-width">
          <mat-label>Минимальный буфер</mat-label>
          <input matInput  placeholder="minBuffer" formControlName = "minBuffer" >
          <div *ngIf="calcBufferForm.controls['minBuffer'].errors?.['pattern']"
               style =  "color: darkred"
          >
            {{allowOnlyInteger}}</div>
        </mat-form-field>
        </td>
        <td><mat-form-field class="calc-buffer-full-width">
          <mat-label>Максимальный буфер</mat-label>
          <!--    <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">-->
          <input matInput placeholder="maxBuffer" formControlName = "maxBuffer">
          <div *ngIf="calcBufferForm.controls['maxBuffer'].errors?.['pattern']"
               style =  "color: darkred"
          >
            {{allowOnlyInteger}}</div>
        </mat-form-field>
        </td>
      </tr>
      <tr>
        <td><mat-form-field class="calc-buffer-full-width">
          <mat-label>Только оверсток</mat-label>
          <input matInput placeholder="onlyOverstock" formControlName = "onlyOverstock">
          <div *ngIf="calcBufferForm.controls['onlyOverstock'].errors?.['pattern']"
               style =  "color: darkred"
          >
            {{allowOnlyInteger}}</div>
        </mat-form-field>
        </td>
        <td><mat-form-field class="calc-buffer-full-width">
          <mat-label>Период для средней</mat-label>
          <input matInput placeholder="periodForAverage" formControlName = "periodForAverage">
          <div *ngIf="calcBufferForm.controls['periodForAverage'].errors?.['pattern']"
               style =  "color: darkred"
          >
            {{allowOnlyInteger}}</div>
        </mat-form-field>
        </td>
        <td><mat-form-field class="calc-buffer-full-width">
          <mat-label>Глубина расчета</mat-label>
          <!--    <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">-->
          <input matInput placeholder="periodForRec" formControlName = "periodForRec">
          <div *ngIf="calcBufferForm.controls['periodForRec'].errors?.['pattern']"
               style =  "color: darkred"
          >
            {{allowOnlyInteger}}</div>
        </mat-form-field>
        </td>
      </tr>
      <tr>
        <td><mat-form-field class="calc-buffer-full-width">
          <mat-label>Пиковый фактор</mat-label>
          <input matInput placeholder="spikeFactor" formControlName = "spikeFactor">
          <div *ngIf="calcBufferForm.controls['spikeFactor'].errors?.['pattern']"
               style =  "color: darkred"
          >
            {{allowOnlyReal}}</div>
        </mat-form-field>
        </td>
        <td><mat-form-field class="calc-buffer-full-width">
          <mat-label>Увеличить</mat-label>
          <input matInput placeholder="increase" formControlName = "increase">
          <div *ngIf="calcBufferForm.controls['increase'].errors?.['pattern']"
               style =  "color: darkred"
          >
            {{allowOnlyInteger}}</div>
        </mat-form-field>
        </td>
        <td><mat-form-field class="calc-buffer-full-width">
          <mat-label>Больше буфера</mat-label>
          <input matInput placeholder="moreBuffer" formControlName = "moreBuffer">
          <div *ngIf="calcBufferForm.controls['moreBuffer'].errors?.['pattern']"
               style =  "color: darkred"
          >
            {{allowOnlyReal}}</div>
          <!--    <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">-->
        </mat-form-field>
        </td>
      </tr>
      <tr>
        <td><mat-form-field class="calc-buffer-full-width">
          <mat-label>Уменьшить</mat-label>
          <input matInput placeholder="decrease" formControlName = "decrease">
          <div *ngIf="calcBufferForm.controls['decrease'].errors?.['pattern']"
               style =  "color: darkred"
          >
            {{allowOnlyInteger}}</div>
        </mat-form-field>
        </td>
        <td><mat-form-field class="calc-buffer-full-width">
          <mat-label>Меньше буфера</mat-label>
          <input matInput placeholder="lessBuffer" formControlName = "lessBuffer">
          <div *ngIf="calcBufferForm.controls['lessBuffer'].errors?.['pattern']"
               style =  "color: darkred"
          >
            {{allowOnlyReal}}</div>
        </mat-form-field>
        </td>
        <td><mat-form-field class="calc-buffer-full-width">
          <mat-label>Автоматичиский</mat-label>
          <input matInput placeholder="automatic" formControlName = "automatic">
          <div *ngIf="calcBufferForm.controls['automatic'].errors?.['pattern']"
               style =  "color: darkred"
          >
            {{allowOnlyInteger}}</div>
          <!--    <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">-->
        </mat-form-field>
        </td>
      </tr>
      <tr>
        <td><mat-form-field class="calc-buffer-full-width">
          <mat-label>Буфер мульти</mat-label>
          <input matInput placeholder="bufferMulti" formControlName = "bufferMulti">
          <div *ngIf="calcBufferForm.controls['bufferMulti'].errors?.['pattern']"
               style =  "color: darkred"
          >
            {{allowOnlyReal}}</div>
        </mat-form-field>
        </td>
        <td></td>
        <td><mat-form-field class="calc-buffer-full-width">
          <mat-label>Добавить дни</mat-label>
          <!--    <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">-->
          <input matInput placeholder="addDaysFromToday" formControlName = "addDaysFromToday">
          <div *ngIf="calcBufferForm.controls['addDaysFromToday'].errors?.['pattern']"
               style =  "color: darkred"
          >
            {{allowOnlyInteger}}</div>
        </mat-form-field>
        </td>

      </tr>
    </table>
    <hr>
    <table class="togle-center">
      <tr>
        <td>
          <mat-card class="result">
            <mat-card-content>
              <h2 class="example-h2">Использовать <br />доступное</h2>
              <section class="example-section">
                <mat-slide-toggle [formControl]="useAvailability"
                                  class="example-margin"
                                  [color]="color"
                                  [checked]="checked"
                                  [disabled]="disabled">
                  Сдвинуть для активации
                </mat-slide-toggle>
              </section>
            </mat-card-content>
          </mat-card>
        </td>
        <td>
          <mat-card class="result">
            <mat-card-content>
              <h2 class="example-h2">Это начальный <br />расчет</h2>
              <section class="example-section">
                <mat-slide-toggle [formControl]="isInitialCalculation"
                                  class="example-margin"
                                  [color]="color"
                                  [checked]="checked"
                                  [disabled]="disabled">
                  Сдвинуть для активации
                </mat-slide-toggle>
              </section>
            </mat-card-content>
          </mat-card>
        </td>
        <td>
          <mat-card class="result">
            <mat-card-content>
              <h2 class="example-h2">Установка дочерными <br />аналогам ноль</h2>
              <section class="example-section">
                <mat-slide-toggle [formControl]="setAnalogsChildsBufferZero"
                                  class="example-margin"
                                  [color]="color"
                                  [checked]="checked"
                                  [disabled]="disabled">
                  Сдвинуть для активации
                </mat-slide-toggle>
              </section>
            </mat-card-content>
          </mat-card>
        </td>
        <td>
          <mat-card class="result">
            <mat-card-content>
              <h2 class="example-h2">Установка группам <br />аналогам ноль</h2>
              <section class="example-section">
                <mat-slide-toggle [formControl]="setAnalogsGroupBufferZero"
                                  class="example-margin"
                                  [color]="color"
                                  [checked]="checked"
                                  [disabled]="disabled">
                  Сдвинуть для активации
                </mat-slide-toggle>
              </section>
            </mat-card-content>
          </mat-card>
        </td>
      </tr>
    </table>

    <hr>
    <section>
      <div class="container">
        <div class="center">
          <button *ngIf="!isLoading" mat-flat-button  class="mat-button" color="primary" [disabled]="!calcBufferForm.valid"  (click)="doCalc()">Расчитать буфера</button>
        </div>
      </div>
    </section>
    <br>

<!--    <div class="container log">-->
<!--      <mat-spinner class="loader" *ngIf="isLoading"></mat-spinner>-->
<!--      <br>-->
<!--      <p *ngFor="let s of status">{{s}}-->

<!--    </div>-->

  </form>
