<div layout="row"       layout-align="center center">
<p>
  Правила пользования:
  <ul>
    <li>Файл должен быть в формате xlsx </li>
    <li>Лист для загрузки должен быть первым в файле</li>
    <li>Формат файла должен на 100% соответствовать шаблону</li>
    <li>Файл не должен содержать дубликатов строк</li>
  </ul>
  <button mat-raised-button color="primary" (click)="downloadFile()">Скачать файл шаблона</button>
<p></p>
<div (click)="uploadFile.click()" *ngIf="!isLoading">


      <button mat-raised-button color="primary">Выберите файл шаблона</button>
      <input #uploadFile (change)="upload($event)" type='file' style="display:none"/>

 </div>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div> <h2>Status: </h2> {{status }} </div>
</div>
<div *ngIf="(event | async); let evt">
  <div>ID: {{evt}} </div>
</div>
