<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="totalTime">
    <th mat-header-cell *matHeaderCellDef> Total time </th>
    <td mat-cell *matCellDef="let element"> {{element.totalTime}} </td>
  </ng-container>

  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef> startDate </th>
    <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
  </ng-container>

  <ng-container matColumnDef="totalFiles">
    <th mat-header-cell *matHeaderCellDef> totalFiles </th>
    <td mat-cell *matCellDef="let element"> {{element.totalFiles}} </td>
  </ng-container>

  <ng-container matColumnDef="totalRows">
    <th mat-header-cell *matHeaderCellDef> totalRows </th>
    <td mat-cell *matCellDef="let element"> {{element.totalRows}} </td>
  </ng-container>

  <ng-container matColumnDef="loadTime">
    <th mat-header-cell *matHeaderCellDef> loadTime </th>
    <td mat-cell *matCellDef="let element"> {{element.loadTime}} </td>
  </ng-container>

  <ng-container matColumnDef="recalculateTime">
    <th mat-header-cell *matHeaderCellDef> recalculateTime </th>
    <td mat-cell *matCellDef="let element"> {{element.recalculateTime}} </td>
  </ng-container>

  <ng-container matColumnDef="quarantineRowsTotal">
    <th mat-header-cell *matHeaderCellDef> quarantineRowsTotal </th>
    <td mat-cell *matCellDef="let element"> {{element.quarantineRowsTotal}} </td>
  </ng-container>

  <ng-container matColumnDef="warningRowsTotal">
    <th mat-header-cell *matHeaderCellDef> warningRowsTotal </th>
    <td mat-cell *matCellDef="let element"> {{element.warningRowsTotal}} </td>
  </ng-container>

  <ng-container matColumnDef="isLoadSuccessful">
    <th mat-header-cell *matHeaderCellDef> isLoadSuccessful </th>
    <td mat-cell *matCellDef="let element"> {{element.isLoadSuccessful}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
